* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  margin-top: 1rem;
}

#calendar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: burlywood;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.day {
  margin: 0.25rem;
  padding: 1rem;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 0.25rem;
}

.selected {
  background-color: rgb(255, 241, 221);
}
